<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '624877002670735372',
    channel: '629572866962096128',
    shard: 'https://disweb.deploys.io'
  })   
  </script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <% if (user) { %>
    <div class="page-content">
      <center>
        <h1>R3XT3R - COMMANDS</h1>
        <br><br><br>
        <b><h2>NAME: <%- user.tag %></h2></b>
        <b><h2>ID: <%- user.id %></h2></b>
        <b><h2>AVATAR:<br><br>
        <a href="<%- user.avatarURL %>" target="_blank"><img src="<%- user.avatarURL %>" width="400" height="400" align="middle" alt="avatar"></a>
        </h2></b>
        </center>
    </div>
  <% } else { %>
  <center>
  <h1>404</h1>
  <h2>
    <b>Please Login To View Your Profile!</b>
  </h2>
  </center>
  <% } %>
  <br /><br /><br /><br />
  <div class="footer">
    <%- include('partials/footer.ejs') %>
  </div>
</body>
</html>